/* * {
      box-sizing: border-box;
    } */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.brands {
  overflow: hidden;
  white-space: nowrap;
  padding: 40px 0;
}

.brands .brands__slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.brands .brands__slide img {
  height: 70px;
  max-width: unset;
  margin: 0 50px;
}

@media (max-width: 768px) {
  .brands {
    padding: 30px 0;
  }

  .brands .brands__slide img {
    height: 50px;
    margin: 0 20px;
  }
}
